<%- include("./partials/header"); %>


  <main id="main" class="main">

    <div class="pagetitle">

      <h1>All Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">All Users</li>
        </ol>
      </nav>

      <h1>Total Number of Registered Users : <%= userCount %></h1>
      
      <h1>Total Number of Invested Users : <%= investedUserCount %></h1>
    </div><!-- End Page Title -->
    <%- include ('./partials/messages') %>


    

        <!-- Left side columns -->
        
        <section class="section dashboard">
        <div class="row">

            <!-- Sales Card -->
            <% if (user == 0) { %>
                <p style="font-size: 30px; text-align: center;">NO USERS</p>
                <% }else{%>
                    
                         
                    <div class="col-lg-8">
                        <div class="row">
                    <% user.forEach(function(user){ %>
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">
              
                              
              
                              <div class="card-body">
                                <h5 class="card-title"><%= user.email %></h5>
              
                                <div class="d-flex align-items-center">
                                 
                                  <div class="ps-3">
                                    <h5><%= user.machineRunning %></h5>
                                    <p><%= user.balance %></p>

                                    <form action="/editUser/<%= user._id%>" method="GET">
                                        <button style="margin-top: 10px;" class="btn btn-primary">More</button>
                                      </form>  
              
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div><!-- End Sales Card -->

                        
            
                    <% }); %>
                </div>
            
                <% } %>
            <!--  -->
           
             


            
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    </li>

                    
                  </ul>
                </div>


              </div>
            </div><!-- End Recent Sales -->

           
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
         
      
      
        </div><!-- End Right side columns -->
      
      </div>
      </section>
      
      </main><!-- End #main -->
 
      
      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
      <div class="copyright">
      &copy; Copyright <strong><span>Zim Energy</span></strong>. All Rights Reserved
      </div>
      
      </footer><!-- End Footer -->
      
      
      <!-- Vendor JS Files -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/chart.js/chart.min.js"></script>
      <script src="assets/vendor/echarts/echarts.min.js"></script>
      <script src="assets/vendor/quill/quill.min.js"></script>
      <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
      
      <!-- Template Main JS File -->
      <script src="js/mains.js"></script>
      <script src="https://kit.fontawesome.com/f3fe227b35.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/f3fe227b35.js" crossorigin="anonymous"></script>

      
      </body>
      
      </html> 